*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-left: 112px;
}

.Box{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.heading{
    width: auto;
    height: auto;
    padding: 2%;
    border: 2px solid black;
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input[type=email],
input[type=password]{
    float: right;
}
input[type=submit]{
    margin-left: 50%;
    background-color:rgba(8, 123, 237, 0.98);
}
a{
    text-decoration: none;
    float: right;

}